@page "/"
@page "/home"
@using LaptopStore.Client.Shared.Shop;
@layout ShopLayout
@inject Microsoft.Extensions.Localization.IStringLocalizer<ListProducts> _localizer
@using LaptopStore.Application.Features.Products.Queries.GetAllPaged;
@inject NavigationManager NavigationManager
<link href="css/home.css" rel="stylesheet">


<div class="banner-container">
    <!-- Nút điều hướng bên trái -->
    <img class="nav-button left" src="/images/dieuhuong/less-than.png" @onclick="ShowPreviousImage" />

    <!-- Banner Images -->
    <MudPaper Class="banner">
        <img src="@bannerImages[currentImageIndex]" alt="Banner Image 1" />
        <img src="@bannerImages[secondImageIndex]" alt="Banner Image 2" />
    </MudPaper>

    <!-- Nút điều hướng bên phải -->
    <img class="nav-button right" src="/images/dieuhuong/greater-than.png" @onclick="ShowNextImage" />
</div>
<br />
<MudGrid Class="logo-container">
    <!-- Brand Chips with Logos -->
    @foreach (var brand in _brands)
    {
        <MudChip Class="brand" @onclick="() => NavigateToAllProducts(brand.Name)">
            <img Class="logo-brand-img" src="@brand.LogoPath" alt="@brand.Name" title="@brand.Name" />
        </MudChip>
    }

</MudGrid>
<br />
<MudGrid>
    <div class="featured-products-section">

        <div class="featured-header">
            <img class="icon-feature" src="/images/flame.gif"/><p class="titel-feature">SẢN PHẨM NỔI BẬT</p>
        </div>

        <div class="product-slider-container">
            <!-- Nút điều hướng bên trái -->
            <MudIconButton Icon="Icons.Material.Filled.ArrowBackIos" Class="slider-control left-control" OnClick="ShowPreviousFeaturedProducts" />

            <!-- Danh sách sản phẩm -->
            <div class="product-list-container">
                @foreach (var product in GetCurrentFeaturedProducts())
                {
                    <MudCard Class="single-product-card">
                        <MudButton OnClick="() => NavigateToProductDetail(product.Id)">
                        <MudCardContent>
                            <!-- Huy hiệu -->
                             <div class="gift-container">
                                <img src="/images/icon/new_1.gif" class="gif-sale"/>
                            </div>

                            <!-- Ảnh sản phẩm -->
                            <img src="@product.ImageDataURL" alt="@product.Name" class="product-thumbnail" />

                            <!-- Thông tin sản phẩm -->
                                <MudText Class="product-name-feat">@product.Name</MudText>
                            <div class="product-price-container">
                                <MudText Typo="Typo.h6" Class="main-price">@product.Price.ToString("N0") Đ</MudText>
                                <MudText Typo="Typo.caption" Class="old-price">@((product.Price * 1.1).ToString("N0")) Đ</MudText>
                            </div>
                                <div class="rate-button">
                                    @foreach (var star in GetStars(product.Rate))
                                {
                                    <MudIcon Icon="@star" Class="star-icon" />
                                }
                            </div>
                            <!-- Nút yêu thích -->
                            <MudIconButton Icon="Icons.Material.Filled.FavoriteBorder" Color="Color.Primary" />
                        </MudCardContent>
                        </MudButton>
                    </MudCard>
                }
            </div>

            <!-- Nút điều hướng bên phải -->
            <MudIconButton Icon="Icons.Material.Filled.ArrowForwardIos" Class="slider-control right-control" OnClick="ShowNextFeaturedProducts" />
        </div>
    </div>
</MudGrid>
<br />
<div class="main-container">

    @if (!_loaded)
    {
        <MudProgressCircular Color="Color.Primary" Indeterminate="false" />
    }
    else if (_RatedProducts != null && _RatedProducts.Any())
    {
        <MudGrid GutterSpacing="3" Class="product-grid">
            @foreach (var context in _RatedProducts)
            {
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <!-- Điều chỉnh số lượng hiển thị trên mỗi dòng -->
                    <MudCard Class="product-card">
                        <MudCardContent>
                            <div class="badge-container">
                                <img src="/images/icon/sale.gif" class="badge" />
                            </div>
                            <MudButton Class="product" @onclick="() => InvokeModal(context.Id)">
                                <img class="img-product" src="@(context.ImageDataURL)" Square="true" />
                            </MudButton>
                            <MudText Typo="Typo.h6" Class="product-name">@context.Name</MudText>

                            <div class="specs">
                                <MudText Typo="Typo.body2" Class="spec">@context.Ram.Split(new[] { ',', ' ' }, StringSplitOptions.RemoveEmptyEntries).FirstOrDefault()</MudText>
                                <MudText Typo="Typo.body2" Class="spec">@context.Rom.Split(new[] { ',', ' ' }, StringSplitOptions.RemoveEmptyEntries).FirstOrDefault()</MudText>
                            </div>
                            <MudText Typo="Typo.body2" Class="product-details">
                                Màn hình: @context.Screen<br />
                                CPU: @context.CPU<br />
                                GPU: @context.Card<br />
                                Pin: @context.Battery<br />
                                Khối lượng: @context.Weight
                            </MudText>
                            <div class="price-container">
                                <MudText Typo="Typo.h6" Class="price">@context.Price.ToString("N0") Đ</MudText>
                                <MudText Typo="Typo.caption" Class="original-price">@((context.Price * 1.14).ToString("N0")) Đ</MudText>
                            </div>
                            <div class="rate">
                                @foreach (var star in GetStars(context.Rate))
                                {
                                    <MudIcon Icon="@star" Class="star-icon" />
                                }
                            </div>
                        </MudCardContent>

                            <MudButton OnClick="() => NavigateToProductDetail(context.Id)" Class="action-button">
                                Xem chi tiết
                            </MudButton>
                        </MudCard>
                    </MudItem>
                }
            <MudItem xs="12">
                <div class="button-container">
                    <MudButton Class="button-content" OnClick="()=>Allproduct()">
                        Xem thêm sản phẩm
                    </MudButton>
                </div>
            </MudItem>
        </MudGrid>
    }
                  
</div>
<br />
<hr />
<MudPaper Class="content-container">
    <MudText Class="content-title">Thông tin bạn cần biết trước khi mua Laptop</MudText>
    <p>Laptop là một trong những công cụ công nghệ thiết yếu của thời đại số, giúp tối ưu hóa khả năng làm việc, học tập, giải trí, và quản lý thông tin. Sử dụng một chiếc laptop phù hợp đem lại nhiều lợi ích to lớn cho người dùng, nhất là trong bối cảnh công nghệ phát triển nhanh chóng như hiện nay. Để đạt hiệu quả cao nhất, việc chọn lựa và sử dụng laptop không chỉ dựa trên cấu hình phần cứng mà còn phải chú ý đến các yếu tố như tính tương thích, sự tiện dụng, và khả năng mở rộng.</p>
    <img class="images-gioithieu" src="images/gioithieu/gioithieu.png" Square="true" />
    <MudText Class="content-bold">Bạn đang có kế hoạch mua một chiếc laptop mới cho công việc hay giải trí cá nhân? Nhưng không biết nên chọn mẫu laptop nào và cần xem xét những gì trước khi quyết định mua? Để giúp bạn đưa ra quyết định đúng đắn, 
        LaptopStore đã tổng hợp thông tin về các tiêu chí cần quan tâm và các thông số kỹ thuật quan trọng nhất khi mua máy tính xách tay. Hãy cùng tham khảo bài viết dưới đây để có thể chọn được chiếc laptop phù hợp nhất với nhu cầu sử dụng của bạn nhé!</MudText>

    <MudText Typo="Typo.body1" Class="@ContentClass">
        <MudText Class="content-title">Tổng hợp các thông số kỹ thuật cần biết khi chọn mua máy tính laptop</MudText>
        <p>Trước khi mua laptop, việc hiểu và xem xét các thông số kỹ thuật trên mỗi máy là rất quan trọng để đảm bảo bạn chọn được chiếc máy tính xách tay phù hợp với nhu cầu sử dụng của mình. Dưới đây là một số thông số quan trọng cần xem xét:</p>
        <MudText Class="content-title">Chọn mua laptop theo CPU</MudText>
        <p><span class="content-bold">CPU</span> là "bộ não" của laptop, quyết định tốc độ xử lý và hiệu suất của máy. Trên thị trường hiện có nhiều dòng CPU đa dạng phân khúc như Intel Core i3, i5, i7, i9 hoặc AMD Ryzen 3, AMD Ryzen 5, AMD Ryzen 7, AMD Ryzen 9. CPU mạnh mẽ hơn sẽ cung cấp hiệu suất xử lý nhanh hơn cho các tác vụ đa nhiệm và ứng dụng nặng.</p>
        <img class="images-anh" src="images/gioithieu/cpu.png" Square="true" />
        <MudText Class="content-title">Chọn mua laptop theo RAM (Random Access Memory)</MudText>
        <p>
            <span class="content-bold">RAM</span> là bộ nhớ tạm thời mà laptop sử dụng để thực hiện các tác vụ. Một lượng <span class="content-bold">RAM</span> lớn hơn giúp laptop xử lý nhanh hơn và đồng thời cho phép chạy nhiều ứng dụng cùng một lúc mà không bị gián đoạn.
            <br />
            <span class="content-bold">RAM</span> 8GB hoặc 16GB hiện nay là lựa chọn phổ biến cho người dùng thông thường, trong khi phục vụ các tác vụ đòi hỏi hiệu suất cao như chơi game hay đồ họa, dựng phim có thể yêu cầu 32GB RAM hoặc cao hơn.
        </p>
        <img class="images-anh" src="images/gioithieu/ram.jpg" Square="true" />
        <MudText Class="content-title">Chọn mua laptop theo ổ cứng</MudText>
        <p>
            Có hai loại ổ cứng chính được trang bị trên laptop hiện nay là <span class="content-bold">HDD</span> và <span class="content-bold">SSD</span>.
            <br />
            <span class="content-bold">HDD (Hard Disk Drive):</span> Cung cấp dung lượng lớn với giá thành rẻ, nhưng tốc độ truy xuất dữ liệu chậm.<br />
            <span class="content-bold">SSD (Solid State Drive):</span> Tốc độ xử lý dữ liệu nhanh và ít tiêu tốn năng lượng hơn.
            <br />
            <span class="content-bold">SSD</span> đang là ổ cứng được cả người dùng và các chuyên gia ưu tiên lựa chọn vì khả năng khởi động nhanh, tốc độ truy xuất dữ liệu cao, giúp laptop hoạt động nhanh hơn. Đối với người dùng thông thường, mức dung lượng từ 256GB đến 512GB SSD hoặc 1TB HDD đã đáp ứng tốt nhu cầu hàng ngày.
        </p>
        <img class="images-anh" src="images/gioithieu/ocung.png" Square="true" />
        <MudText Class="content-title">Chọn mua laptop theo card đồ họa</MudText>
        <p>
            Card đồ họa sẽ quyết định khả năng xử lý đồ họa của máy tính. Khi xem xét thông số kỹ thuật, bạn cần quan tâm đến 2 loại card đồ họa đó là:<br />

            <span class="content-bold">Card đồ họa rời:</span> Nếu bạn sử dụng phục vụ nhu cầu đồ họa, chơi game hoặc xem phim, bạn nên xem xét laptop có trang bị card đồ họa rời (dedicated GPU) từ NVIDIA hoặc AMD. Một số card đồ họa nổi bật bao gồm:<br />
            NVIDIA GeForce GTX series (GTX 1650, GTX 1660, GTX 1660 Ti, GTX 2060, GTX 2070, GTX 2080, v.v.)<br />
            NVIDIA GeForce RTX series (RTX 3050, RTX 3060, RTX 3070, RTX 3080, v.v.)<br />
            AMD Radeon RX series (RX 5500M, RX 5600M, RX 5700M, RX 6800M, v.v.)<br />
            <span class="content-bold">Card đồ họa tích hợp:</span> Nếu bạn là người dùng thông thường, card đồ họa tích hợp trong CPU cũng đủ để xem video và làm việc hàng ngày. Một số card đồ họa tích hợp phổ biến bao gồm:<br />
            Intel UHD Graphics<br />
            Intel Iris Xe Graphics<br />
            AMD Radeon Graphics (trong dòng CPU AMD Ryzen)<br />
        </p>
        <img class="images-anh" src="images/gioithieu/card.jpg" Square="true" />
    </MudText>
     <div class="button-container">
    <MudButton Class="button-content" OnClick="ToggleContent">
        @ButtonLabel
    </MudButton>
    </div>
</MudPaper>


