@page "/orderdetail"
@using LaptopStore.Client.Shared.Shop
@layout ShopLayout
@inject Microsoft.Extensions.Localization.IStringLocalizer<OrderDetail> _localizer
<link href="css/orderdetail.css" rel="stylesheet">

<MudContainer Class="main-content">
    <MudGrid Class="content-wrapper">
        <!-- Sidebar -->
        <MudItem>
            <MudPaper Class="sidebar" Elevation="4">
                <MudText Class="sidebar-title">Xem đơn hàng</MudText>
                <MudList Dense>
                    <MudListItem>
                        <MudText Typo="Typo.body1">
                            <a @onclick="FilterAllOrders" class="text-deco">Xem tất cả đơn hàng</a>
                        </MudText>
                    </MudListItem>
                    <MudListItem>
                        <MudText Typo="Typo.body1">
                            <a @onclick="FilterProcessingOrders" class="text-deco">Đặt thành công</a>
                        </MudText>
                    </MudListItem>
                    <MudListItem>
                        <MudText Typo="Typo.body1">
                            <a @onclick="FilterShippingOrders" class="text-deco">Đang giao</a>
                        </MudText>
                    </MudListItem>
                    <MudListItem>
                        <MudText Typo="Typo.body1">
                            <a @onclick="FilterDeliveredOrders" class="text-deco">Đã giao</a>
                        </MudText>
                    </MudListItem>
                    <MudListItem>
                        <MudText Typo="Typo.body1">
                            <a @onclick="FilterCanceledOrders" class="text-deco">Đã hủy</a>
                        </MudText>
                    </MudListItem>
                </MudList>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="8" md="9">
            <MudPaper Class="info" Elevation="4">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <h1 class="orderdetail-container">Đơn hàng của bạn</h1>
                    @if (!IsRatedFilterApplied)
                    {
                        @if (Orders.Any(order => order.OrderItem.Any(item => item.IsRated)))
                        {
                            <MudButton OnClick="FilterRatedProducts"
                                       Class="rated-button"
                                       Color="Color.Primary"
                                       Variant="Variant.Outlined">
                                Sản phẩm đã đánh giá
                            </MudButton>
                        }
                    }
                </div>
                <MudTabs Class="info-container">
                    @if (IsLoading)
                    {
                        <MudProgressCircular Indeterminate="true" />
                    }
                    else if (Orders == null || !Orders.Any())
                    {
                        <p id="status">Bạn chưa có đơn hàng nào!</p>
                    }
                    else
                    {
                        @foreach (var order in Orders)
                        {
                            <MudPaper Class="order-item mb-4 p-3" Elevation="3">
                                <MudText Typo="Typo.h5">Đơn hàng #@order.Id</MudText>
                                <MudText>Trạng thái: <span class="order-status">@order.StatusOrder</span> </MudText>

                                <MudDivider Class="my-2" />

                                <MudText Class="subtitle">Thông tin người nhận</MudText>
                                <MudText Typo="Typo.body2">@order.UserName | @order.UserPhone</MudText>
                                <MudText Typo="Typo.body2">@order.UserAddress</MudText>
                                <MudText Typo="Typo.body2">Phương thức thanh toán: @order.MethodPayment</MudText>

                                <MudDivider Class="my-2" />

                                <div class="orderdetail-products">
                                    @foreach (var item in order.OrderItem)
                                    {
                                        <MudItem Class="orderdetail-product">
                                            <img src="@item.ProductImage" alt="@item.ProductName" class="orderdetail-product-img" />
                                            <div class="product-info">
                                                <MudText Class="productname">@item.ProductName</MudText>
                                                <MudText Class="productinfo">Giá: @($"{item.ProductPrice:C}")</MudText>
                                                <MudText Class="productinfo">Số lượng: @item.Quantity</MudText>
                                            </div>
                                        </MudItem>
                                        @if (order.StatusOrder == "Đã Giao")
                                        {
                                            <MudButton OnClick="@( () => InvokeModal(item.ProductId, item.Id))">
                                                @(item.IsRated ? "Đánh giá lại" : "Đánh giá sản phẩm")
                                            </MudButton>

                                        }
                                    }
                                </div>

                                <MudDivider Class="my-2" />

                                <MudGrid>
                                    <MudItem xs="6"><MudText Typo="Typo.body1" Bold="true">Tổng cộng:@($"{order.TotalPrice:C}")</MudText></MudItem>
                                </MudGrid>
                                <MudButton Disabled="@(IsCancelDisabled(order.StatusOrder))"
                                           OnClick="@(() => ConfirmCancelOrder(order.Id, order.StatusOrder))">
                                    Hủy đơn hàng
                                </MudButton>

                            </MudPaper>
                        }
                    }
                </MudTabs>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>