@page "/orderdetail"
@using LaptopStore.Client.Shared.Shop
@layout ShopLayout
@inject Microsoft.Extensions.Localization.IStringLocalizer<OrderDetail> _localizer
<link href="css/orderdetail.css" rel="stylesheet">


<h1 class="orderdetail-container">Đơn hàng của bạn</h1>

@if (IsLoading)
{
    <MudProgressCircular Indeterminate="true" />
}
else if (Orders == null || !Orders.Any())
{
    <p id="status">Bạn chưa có đơn hàng nào!</p>
}
else
{
    @foreach (var order in Orders)
    {
        <MudPaper Class="order-item mb-4 p-3" Elevation="3">
            <MudText Typo="Typo.h5">Đơn hàng #@order.Id</MudText>
            <MudText>Trạng thái: <span class="order-status">@order.StatusOrder</span> </MudText>

            <MudDivider Class="my-2" />

            <MudText Class="subtitle">Thông tin người nhận</MudText>
            <MudText Typo="Typo.body2">@order.UserName | @order.UserPhone</MudText>
            <MudText Typo="Typo.body2">@order.UserAddress</MudText>
            <MudText Typo="Typo.body2">Phương thức thanh toán: @order.MethodPayment</MudText>

            <MudDivider Class="my-2" />

            <div class="orderdetail-products">
                @foreach (var item in order.OrderItem)
                {
                    <MudItem Class="orderdetail-product">
                        <img src="@item.ProductImage" alt="@item.ProductName" class="orderdetail-product-img" />
                        <div class="product-info">
                            <MudText Class="productname">@item.ProductName</MudText>
                            <MudText Class="productinfo" >Giá: @($"{item.ProductPrice:C}")</MudText>
                            <MudText Class="productinfo">Số lượng: @item.Quantity</MudText>
                        </div>
                    </MudItem>
                }
            </div>

            <MudDivider Class="my-2" />

            <MudGrid>
                <MudItem xs="6"><MudText Typo="Typo.body2">Tiền hàng hóa:</MudText></MudItem>
                <MudItem xs="6"><MudText Typo="Typo.body2">Giảm giá:</MudText></MudItem>
                <MudItem xs="6"><MudText Typo="Typo.body2">Vận chuyển:</MudText></MudItem>
                <MudItem xs="6"><MudText Typo="Typo.body1" Bold="true">Tổng cộng:@($"{order.TotalPrice:C}")</MudText></MudItem>
               
            </MudGrid>
            <MudButton Disabled="@(IsCancelDisabled(order.StatusOrder))"
                       OnClick="@(() => ConfirmCancelOrder(order.Id, order.StatusOrder))">
                Hủy đơn hàng
            </MudButton>

        </MudPaper>
    }
}
