@page "/product/{productId:int}"
@using LaptopStore.Client.Shared.Shop
@layout ShopLayout
@inject Microsoft.Extensions.Localization.IStringLocalizer<ProductDetail> _localizer
@inject IJSRuntime JS
<link href="css/productdetail.css" rel="stylesheet">

<MudContainer MaxWidth="MaxWidth.Medium" Class="product-detail-container">
    <MudGrid Class="product-detail">
        <!-- Phần bên trái: Hình ảnh sản phẩm -->
        <MudItem xs="12" md="6" Class="product-images-section">
            <img class="img-product" src="@(Product.ImageDataURL)" alt="@Product.Name" />
            <MudGrid Class="thumbnail-list">
                <MudItem xs="3"><img class="thumbnail-image" src="@(Product.ImageDataURL)" /></MudItem>
                <MudItem xs="3"><img class="thumbnail-image" src="@(Product.ImageDataURL)" /></MudItem>
                <MudItem xs="3"><img class="thumbnail-image" src="@(Product.ImageDataURL)" /></MudItem>
            </MudGrid>
        </MudItem>
        <!-- Phần bên phải: Chi tiết sản phẩm -->
        <MudItem xs="12" md="6" Class="product-info-section">
            <MudText Class="product-info-name">@Product.Name</MudText>

            <!-- Giá và đánh giá -->
            <div class="product-rating">
                <MudIcon Icon="@Icons.Material.Filled.Star" Color="Color.Warning" />
                <MudText Typo="Typo.caption">@Product.Rate</MudText>
            </div>
            <MudPaper Elevation="1" Class="price-card">
                <MudGrid Spacing="3">
                    <MudItem xs="12">
                        <h5 class="text-bold">Mua ngay với giá</h5>
                        <MudText Typo="Typo.h5" Class="price">@Product.Price.ToString("N0") đ</MudText>
                        <MudText Typo="Typo.caption" Class="old-price">@((Product.Price * 1.1).ToString("N0")) đ</MudText>
                    </MudItem>
                    <MudItem xs="12">
                        <p class="points"> +@((Product.Price / 10000).ToString("N0")) Điểm thưởng</p>
                    </MudItem>

                    <MudItem xs="12">
                        <MudPaper Outlined Class="promotion">
                            <p style="font-weight:bold">Khuyến mãi nổi bật</p>
                            <ul>
                                <li>Giảm ngay 2,500,000đ áp dụng đến 25/11</li>
                                <li>Trả góp 0%</li>
                            </ul>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="12">
                        <span class="student-tag">Đặc quyền HSSV - Giáo viên</span>
                        <MudPaper Outlined Class="student-discount">
                            <p class="discount-info"> Giảm thêm 3%  </p>
                            <span class="extra-discount">@((Product.Price * 0.03).ToString("N0")) đ</span>
                            <MudButton Class="giam-gia-btn">Xác thực ngay</MudButton>
                        </MudPaper>
                    </MudItem>
                </MudGrid>
            </MudPaper>            
            <MudNumericField T="int" Label="Số lượng" @bind-Value="quantity" Min="1" Max="10" Class="quantity-field" />
            <MudGrid Justify="Justify.Center" AlignItems="center" Class="button-group">
                <!-- Nút Giỏ hàng -->
                <MudItem>
                    <MudButton Class="cart-button" OnClick="AddToCart">
                        <MudIcon Icon="@Icons.Material.Filled.AddShoppingCart" Size="Size.Large" />
                    </MudButton>
                </MudItem>

                <!-- Nút Mua ngay -->
                <MudItem>
                    <MudButton Class="buy-now-button" OnClick="HandleBuyNow">
                        Mua ngay
                    </MudButton>
                </MudItem>

                <!-- Nút Trả góp -->
                <MudItem>
                    <MudButton Class="installment-button">
                        Trả góp
                        <span class="installment-info">@((Product.Price / 12).ToString("N0")) đ/tháng</span>
                    </MudButton>
                </MudItem>
            </MudGrid>
        </MudItem>
       
        <MudPaper Class="product-specs-container" Elevation="1">
            <MudText Typo="Typo.h6" Class="product-policy-h3">Thông số nổi bật</MudText>
            <MudGrid Class="product-specs">
                <MudItem xs="12" md="4">
                    <MudText Typo="Typo.body1"><strong>CPU:</strong> @Product.CPU</MudText>
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudText Typo="Typo.body1"><strong>RAM:</strong> @Product.Ram</MudText>
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudText Typo="Typo.body1"><strong>Bộ nhớ:</strong> @Product.Rom</MudText>
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudText Typo="Typo.body1"><strong>Card đồ họa:</strong> @Product.Card</MudText>
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudText Typo="Typo.body1"><strong>Kích thước màn hình:</strong> @Product.Screen</MudText>
                </MudItem>
            </MudGrid>
            <MudButton Class="spec-link" @onclick="() => InvokeModal(Product.Id)"> Thông số chi tiết</MudButton>
        </MudPaper>
    </MudGrid>
    <MudPaper Class="product-policy-container" Elevation="1">
        <MudText Typo="Typo.h6" Class="product-policy-h3">Chính sách dành cho sản phẩm</MudText>
        <MudGrid Class="product-policies">
            <MudItem xs="6" md="4" Class="policy-item">
                <img class="policy-img" product" src="images/chinhsach/Hang_chinh_hang.svg" />
                <MudText Typo="Typo.body2">Hàng chính hãng</MudText>
            </MudItem>
            <MudItem xs="6" md="4" Class="policy-item">
                <img class="policy-img" product" src="images/chinhsach/Mien_phi_giao_hang.svg" />
                <MudText Typo="Typo.body2">Giao hàng miễn phí trong 90 phút</MudText>
            </MudItem>
            <MudItem xs="6" md="4" Class="policy-item">
                <img class="policy-img" product" src="images/chinhsach/Doi_tra.svg" />
                <MudText Typo="Typo.body2">Chính sách đổi trả</MudText>
            </MudItem>
            <MudItem xs="6" md="4" Class="policy-item">
                <img class="policy-img" product" src="images/chinhsach/Bao_hanh.svg" />
                <MudText Typo="Typo.body2">Bảo hành 12 tháng</MudText>
            </MudItem>
            <MudItem xs="6" md="4" Class="policy-item">
                <img class="policy-img" product" src="images/chinhsach/Cai_dat.svg" />
                <MudText Typo="Typo.body2">Hỗ trợ cài đặt miễn phí</MudText>
            </MudItem>
            <MudItem xs="6" md="4" Class="policy-item">
                <img class="policy-img" product" src="images/chinhsach/Tra_gop.svg" />
                <MudText Typo="Typo.body2">Chính sách trả góp</MudText>
            </MudItem>
        </MudGrid>
    </MudPaper>

</MudContainer>

<br />

<MudGrid>
    <div class="all-products-section">

        <MudText Class="products-header">Các sản phẩm khác</MudText>
        <div class="product-slider-container">
            <!-- Danh sách sản phẩm -->
            <div class="product-list-container">
                @foreach (var product in AllProducts)
                {
                    <MudButton OnClick="() => NavigateToProductDetail(product.Id)" Style="cursor: pointer;">
                        <MudCard Class="single-product-card">
                            <MudCardContent>
                                <!-- Ảnh sản phẩm -->
                                <img src="@product.ImageDataURL" alt="@product.Name" class="product-thumbnail" />

                                <!-- Thông tin sản phẩm -->
                                <MudText Typo="Typo.h6" Align="Align.Center">@product.Name</MudText>
                                <div class="product-price-container">
                                    <MudText Typo="Typo.h6" Class="main-price">@product.Price.ToString("N0") đ</MudText>
                                    <MudText Typo="Typo.caption" Class="old-price">@((product.Price * 1.1).ToString("N0")) đ</MudText>
                                </div>
                                <div class="rate-button">
                                    @foreach (var star in GetStars(product.Rate))
                                    {
                                        <MudIcon Icon="@star" Class="star-icon" />
                                    }
                                </div>
                                <!-- Nút yêu thích -->
                                <MudIconButton Icon="Icons.Material.Filled.FavoriteBorder" Color="Color.Primary" />
                            </MudCardContent>
                        </MudCard>
                    </MudButton>
                }
            </div>
        </div>
    </div>
</MudGrid>

