@page "/product/{productId:int}"
@using LaptopStore.Client.Shared.Shop
@layout ShopLayout
@inject Microsoft.Extensions.Localization.IStringLocalizer<ProductDetail> _localizer
@inject IJSRuntime JS
<link href="css/productdetail.css" rel="stylesheet">

<MudContainer MaxWidth="MaxWidth.Medium" Class="product-detail-container">
    <MudGrid Class="product-detail">
        <!-- Phần bên trái: Hình ảnh sản phẩm -->
        <MudItem xs="12" md="6" Class="product-images-section">
            <img class="img-product" src="@(Product.ImageDataURL)" alt="@Product.Name" />
            <MudGrid Class="thumbnail-list">
                <MudItem xs="3"><img class="thumbnail-image" src="@(Product.ImageDataURL)" /></MudItem>
                <MudItem xs="3"><img class="thumbnail-image" src="@(Product.ImageDataURL)" /></MudItem>
                <MudItem xs="3"><img class="thumbnail-image" src="@(Product.ImageDataURL)" /></MudItem>
            </MudGrid>
        </MudItem>
        <!-- Phần bên phải: Chi tiết sản phẩm -->
        <MudItem xs="12" md="6" Class="product-info-section">
            <MudText Class="product-info-name">@Product.Name</MudText>

            <!-- Giá và đánh giá -->
            <div class="product-rating">
                <MudIcon Icon="@Icons.Material.Filled.Star" Color="Color.Warning" />
                <MudText Typo="Typo.caption">@Product.Rate</MudText>
            </div>
            <MudText Typo="Typo.h5" Class="price">@Product.Price.ToString("N0") đ</MudText>
            <MudText Typo="Typo.caption" Class="old-price">@((Product.Price * 1.1).ToString("N0")) đ</MudText>
            <MudText Typo="Typo.body1" Class="product-option">@_localizer["Color"]: Silver</MudText>  
            
            <MudNumericField T="int" Label="Số lượng" @bind-Value="quantity" Min="1" Max="10" Class="quantity-field" />
            <MudButton Class="add-to-cart-btn" OnClick="AddToCart">Mua ngay</MudButton>
        </MudItem>
        <MudPaper Class="product-specs-container" Elevation="1">
            <MudText Typo="Typo.h6" Class="product-policy-h3">Thông số nổi bật</MudText>
            <MudGrid Class="product-specs">
                <MudItem xs="12" md="4">
                    <MudText Typo="Typo.body1"><strong>CPU:</strong> @Product.CPU</MudText>
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudText Typo="Typo.body1"><strong>RAM:</strong> @Product.Ram</MudText>
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudText Typo="Typo.body1"><strong>Bộ nhớ:</strong> @Product.Rom</MudText>
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudText Typo="Typo.body1"><strong>Card đồ họa:</strong> @Product.Card</MudText>
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudText Typo="Typo.body1"><strong>Kích thước màn hình:</strong> @Product.Screen</MudText>
                </MudItem>
            </MudGrid>
            <MudButton Class="spec-link" @onclick="() => InvokeModal(Product.Id)"> Thông số chi tiết</MudButton>
        </MudPaper>
    </MudGrid>
    <MudPaper Class="product-policy-container" Elevation="1">
        <MudText Typo="Typo.h6" Class="product-policy-h3">Chính sách dành cho sản phẩm</MudText>
        <MudGrid Class="product-policies">
            <MudItem xs="6" md="4" Class="policy-item">
                <img class="policy-img" product" src="images/chinhsach/Hang_chinh_hang.svg" />
                <MudText Typo="Typo.body2">Hàng chính hãng</MudText>
            </MudItem>
            <MudItem xs="6" md="4" Class="policy-item">
                <img class="policy-img" product" src="images/chinhsach/Mien_phi_giao_hang.svg" />
                <MudText Typo="Typo.body2">Giao hàng miễn phí trong 90 phút</MudText>
            </MudItem>
            <MudItem xs="6" md="4" Class="policy-item">
                <img class="policy-img" product" src="images/chinhsach/Doi_tra.svg" />
                <MudText Typo="Typo.body2">Chính sách đổi trả</MudText>
            </MudItem>
            <MudItem xs="6" md="4" Class="policy-item">
                <img class="policy-img" product" src="images/chinhsach/Bao_hanh.svg" />
                <MudText Typo="Typo.body2">Bảo hành 12 tháng</MudText>
            </MudItem>
            <MudItem xs="6" md="4" Class="policy-item">
                <img class="policy-img" product" src="images/chinhsach/Cai_dat.svg" />
                <MudText Typo="Typo.body2">Hỗ trợ cài đặt miễn phí</MudText>
            </MudItem>
            <MudItem xs="6" md="4" Class="policy-item">
                <img class="policy-img" product" src="images/chinhsach/Tra_gop.svg" />
                <MudText Typo="Typo.body2">Chính sách trả góp</MudText>
            </MudItem>
        </MudGrid>
    </MudPaper>

</MudContainer>

<br />

<MudGrid>
    <div class="all-products-section">

        <div class="products-header">
            <MudText Typo="Typo.h5" Align="Align.Center">Các sản phẩm khác</MudText>
        </div>

        <div class="product-slider-container">
            <!-- Danh sách sản phẩm -->
            <div class="product-list-container">
                @foreach (var product in AllProducts)
                {
                    <MudButton OnClick="() => NavigateToProductDetail(product.Id)" Style="cursor: pointer;">
                        <MudCard Class="single-product-card">
                            <MudCardContent>
                                <!-- Huy hiệu -->
                                <div class="badge-container">
                                    <MudText Typo="Typo.overline" Class="badge">Trả góp 0%</MudText>
                                    <MudText Typo="Typo.overline" Class="badge">Giá rẻ quá</MudText>
                                </div>

                                <!-- Ảnh sản phẩm -->
                                <img src="@product.ImageDataURL" alt="@product.Name" class="product-thumbnail" />

                                <!-- Thông tin sản phẩm -->
                                <MudText Typo="Typo.h6" Align="Align.Center">@product.Name</MudText>
                                <div class="product-price-container">
                                    <MudText Typo="Typo.h6" Class="main-price">@product.Price.ToString("N0") đ</MudText>
                                    <MudText Typo="Typo.caption" Class="old-price">@((product.Price * 1.1).ToString("N0")) đ</MudText>
                                </div>
                                <MudRating Value="@product.Rate" MaxValue="5" ReadOnly="true" Class="rate-button" />

                                <!-- Nút yêu thích -->
                                <MudIconButton Icon="Icons.Material.Filled.FavoriteBorder" Color="Color.Primary" />
                            </MudCardContent>
                        </MudCard>
                    </MudButton>
                }
            </div>
        </div>
    </div>
</MudGrid>
