@page "/account/forgot-password"
@using LaptopStore.Client.Shared.Shop
@layout ShopLayout
@attribute [AllowAnonymous]
@inject Microsoft.Extensions.Localization.IStringLocalizer<Forgot> _localizer
<link href="css/login.css" rel="stylesheet">

<EditForm Model="@_emailModel" OnValidSubmit="SubmitAsync">
    <FluentValidationValidator @ref="_fluentValidationValidator" />
    <MudGrid Class="login-container">
        <MudItem xs="12" Class="logo-container">
            <img class="img-login" src="/images/icon/logo.png" />
        </MudItem>
        <MudItem xs="12" Class="title-container">
            <div class="d-flex justify-center">
                <h1 class="h1-title">@_localizer["Quên mật khẩu?"]</h1>
            </div>
        </MudItem>
        <MudItem xs="12" Class="text-container">
            <div class="d-flex justify-center">
                <MudText Typo="Typo.subtitle2" Class="mb-n4">@_localizer["Nhập email để reset mật khẩu"]</MudText>
            </div>
        </MudItem>
        <MudItem xs="12" Class="input-container">
            <MudTextField Label="@_localizer["E-mail"]" @bind-Value="_emailModel.Email" For="@(() => _emailModel.Email)" Variant="Variant.Outlined"></MudTextField>
        </MudItem>
        <MudItem xs="12" Class="button-container d-flex justify-center">
            <MudButton Variant="Variant.Filled" Disabled="@(!Validated)" Class="login-button" ButtonType="ButtonType.Submit" FullWidth="true">@_localizer["Reset mật khẩu"]</MudButton>
        </MudItem>
    </MudGrid>
</EditForm>